{% extends "base.html.twig"%}
{% block Title %}Accueil {% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center my-5">{{ site_name }}</h1>
        </div>

    </div>
    <div class="row">
        <div class="col-12 col-md-10 mx-auto">
            <h2 class="text-center my-4">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </h2>
            <p class="text-center"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci corporis debitis excepturi! Accusamus ad aliquam dolorum eaque in, iste itaque laudantium, maxime modi mollitia nam omnis provident recusandae repudiandae ut.</span><span>Accusantium ad distinctio, earum eveniet, facere illum in inventore iusto laudantium mollitia natus nisi optio pariatur possimus, quaerat quis rerum sapiente temporibus ullam ut. Magnam, veritatis, voluptates. Aliquid, facere, pariatur?</span></p>
        </div>
    </div>
    <div class="row my-5 batman-cover"></div>
</div>
{% endblock %}